.tablist-component{
    .close-icon{
        visibility: hidden;
    }
    .nav-link:hover .close-icon{
        visibility: visible;
    }
    .nav-link.active .close-icon{
        visibility: visible;
    }
    .unsaved-icon{
        display:inline-block;
        background-color: red;
        width: 11px;
        height: 11px;
    }
    .withUnsaved.nav-link .close-icon{
        visibility: hidden;
    }
    .withUnsaved.nav-link:hover .close-icon{
        visibility: visible;
    }
    .withUnsaved.nav-link:hover .unsaved-icon{
        visibility: hidden;
    }


}